<%- include ('partials/header.ejs'); %>   
     
   <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">CRUD Mongodb</a>
    </nav>

    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="">
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Insert a Title" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="description" cols="80" class="form-control" placeholder="Insert a Description"></textarea>
                            </div>
                        </form>


                    </div>
                </div>

            </div>  
    </div>
<%- include ('partials/footer.ejs'); %> 