<%- include ('partials/header.ejs'); %>   
     
   <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">CRUD Mongodb</a>
    </nav>

    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <!-- Para que el formulario envia datos por medio de "add" el navegador envia datos por metodo get (obtener) รณ (post) para enviar el dato -->
                        <form action="/add" method="POST">
                            <div class="form-group mb-4">
                                <input type="text" name="title" placeholder="Insert a Title" class="form-control">
                            </div>
                            <div class="form-group mb-4">
                                <textarea name="description" cols="80" class="form-control" placeholder="Insert a Description"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                Add
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- LIST -->
            <div class="col-md-7">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                </table>
            </div>
                    </div>
                </div>

            </div>  
    </div>
<%- include ('partials/footer.ejs'); %> 